* {
    font-family: 'Google Sans', sans-serif;
}

.bg {
    position: relative;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url('pattern.avif'),
        url('pattern.avif');
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-size: auto 100%, auto 100%, auto 100%;
    background-position: 0 0, 0 0, 50% 0;
}

.bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('pattern.avif') repeat-x;
    background-size: auto 100%;
    transform: scaleX(-1);
    mix-blend-mode: multiply;
    opacity: 0.5;
    pointer-events: none;
}

.pattern {
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}